.div1 {
  padding: 2px;

  text-align: center;
}

.container {
  display: grid;
  grid-template-columns: auto auto;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: 100;
}
